.footer {
  background-color: #889fa7; /* Color de fondo del footer */
  padding: 10px 40px 30px;
  color: white;
  font-family: 'Segoe UI', sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

/* Logo */
.footer-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo {
  width: 140px;
  height: auto;
}

/* Contacto */
.footer-center {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 20px;
}

.contact-info h4,
.footer-right h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 12px;
  text-decoration: underline;
  color: white;
}

.contact-info p,
.footer-right p {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 6px 0;
  font-size: 15px;
  color: white;
}

/* Redes sociales */
.footer-right {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 20px;
}

.footer-right p {
  font-size: 15px;
}

/* Íconos */
.footer svg {
  color: white;
}

/* Responsive */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-center,
  .footer-right {
    padding: 20px 0;
  }
}
